:root {
  --cor-principal: #5D4BDB;
  --cor-secundaria: #43388F;
  --cor-terciario: #B7DB40;
  --cor-quaternaria: #DB3598;
  --cor-quintuario: #8F1B60;
}

/* 
  Zerando a margin e padding de tudo
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  Estilo do corpo da página
*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', 'san-serif';
  font-size: 12pt;
  padding: 20px;
}

/* 
  Container da página
*/
body .container {
  max-width: 1000px;
  width: 100%;
  margin-top: 3cm;
  margin-bottom: 2cm;
  margin-left: 2cm;
  margin-right: 2cm;
}

/* 
  Estilo do rodapé
*/
body footer {
  border-top: 1px solid #ddd;
  margin-top: 25px;
  padding-top: 10px;
}

/* 
  Estilo de titulos
*/
body h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5cm;
}

/* 
  Titulo com a font 'Times New Roman'
*/
body h1.font-tnr, h2.font-tnr, h3.font-tnr, 
h4.font-tnr, h5.font-tnr, h6.font-tnr {
  font-family: 'Times New Roman';
}

/* 
  Tamanho do subtitulo
*/
body h2 {
  font-size: 14pt;
}

/* 
  Estilo de um paragrafo
*/
body p {
  text-align: justify;
  font-style: normal;
  line-height: 1.5;
}

/* 
  Margin da esquerda da primeira linha do paragrafo
*/
body p::first-letter {
  margin-left: 1.25cm;
}

/* 
  Cores
*/
.cor-principal {
  color: var(--cor-principal);
}

.cor-secundaria {
  color: var(--cor-secundaria);
}

.cor-terciario {
  color: var(--cor-terciario);
}

.cor-quaternaria {
  color: var(--cor-quaternaria);
}

.cor-quintuario {
  color: var(--cor-quintuario);
}

/* 
  Links do footer
*/
div.links-footer {
  display: flex;
  justify-content: center;
}

div.links-footer a:first-of-type {
  margin-right: 15px;
}