<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Isaque Véras de Oliveira">
  <title>My book in html - Parágrafo</title>
  <link rel="stylesheet" href="../../index.css">
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Parágrafos</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius veritatis quibusdam, adipisci pariatur eligendi, amet earum obcaecati natus cupiditate maiores autem soluta ipsa esse est aliquam quidem? Aliquid, adipisci repellat et delectus voluptatibus dolores optio temporibus eos quod quaerat, reprehenderit minus. Ad nulla ea, harum libero blanditiis reprehenderit eveniet explicabo?</p>
      
      Use os paragrafos separadamente usando o link abaixo
      <pre>&lt;link rel="stylesheet" href="https://my-book-in-html.github.io/components/paragrafos/index.css"/&gt;</pre>
    </header>
      
    <article>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur adipisci dolorum alias sed deleniti ducimus eveniet autem provident, deserunt laborum?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident distinctio libero, quo cumque nemo eveniet illum maxime deleniti, sunt error odio soluta, mollitia enim iure. Omnis, atque? Esse porro quis vero? Consequatur ut a delectus iure autem veniam, illum nihil, sit enim praesentium unde cumque, quod rem corporis quos atque magni. Quaerat, reiciendis minima harum dolorem laudantium velit ullam mollitia adipisci, magnam maiores ea eveniet sapiente perferendis? Dolore, mollitia ullam. Dolor consequatur accusamus, amet voluptas quisquam, assumenda aut ipsa animi debitis neque corporis asperiores sapiente quod tempore veritatis harum magni accusantium et quis placeat explicabo fuga alias. Saepe, in voluptate!</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse incidunt, mollitia, ipsam necessitatibus atque delectus commodi non officiis officia sequi odit tenetur corrupti neque facere quis odio eos explicabo quam assumenda modi? Ipsum molestiae vel vero quasi quas sunt, adipisci fugiat voluptas?</p>
    </article>
   
    <footer>
      <p>Todos os direitos reservados &copy; Isaque Véras</p>
    </footer>
  </div>
</body>
</html>