<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Isaque Véras de Oliveira">
  <title>My book in html - Parágrafo</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="../sumario/index.css">
  <link rel="stylesheet" href="../link/index.css">
  <link rel="stylesheet" href="../../index.css">
  <link rel="stylesheet" href="../../global.css">
</head>
<body>
  <div class="container">
    <header>
      <h1><span class="cor-principal">Parágrafos</span></h1>
      Para trabalhar com parágrafos, o recuo do início dos parágrafos deve ser de 1,25 cm. Nas citações diretas de mais de 3 linhas, deve-se usar recuo de 4 cm. <br /><br />
    </header>
      
    <article>
      <ul>
        <li>As margens seguem uma medida padrão em que:
          <ul>
            <li>a margem superior é de 3 cm</li>
            <li>a esquerda é de 3 cm</li>
            <li>a margem da direita é de 2 cm</li>
            <li>a margem inferior é de 2 cm</li>
          </ul>
        </li>
      </ul>
      
      <br />Use os paragrafos separadamente usando o link abaixo
      <pre>&lt;link rel="stylesheet" href="https://isaqueveras.github.io/my-book-in-html/components/paragrafos/index.css"/&gt;</pre>

      <h2>Exemplos de parágrafos</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur adipisci dolorum alias sed deleniti ducimus eveniet autem provident, deserunt laborum?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident distinctio libero, quo cumque nemo eveniet illum maxime deleniti, sunt error odio soluta, mollitia enim iure. Omnis, atque? Esse porro quis vero? Consequatur ut a delectus iure autem veniam, illum nihil, sit enim praesentium unde cumque, quod rem corporis quos atque magni. Quaerat, reiciendis minima harum dolorem laudantium velit ullam mollitia adipisci, magnam maiores ea eveniet sapiente perferendis? Dolore, mollitia ullam. Dolor consequatur accusamus, amet voluptas quisquam, assumenda aut ipsa animi debitis neque corporis asperiores sapiente quod tempore veritatis harum magni accusantium et quis placeat explicabo fuga alias. Saepe, in voluptate!</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse incidunt, mollitia, ipsam necessitatibus atque delectus commodi non officiis officia sequi odit tenetur corrupti neque facere quis odio eos explicabo quam assumenda modi? Ipsum molestiae vel vero quasi quas sunt, adipisci fugiat voluptas?</p>
    
      <h2>Código</h2>
      <pre id="codigo">&lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, exercitationem?&lt;/p&gt;</pre>
    </article>
   
    <footer>
      <div class="links-footer">
        <a href="/index.html">&lt; Home</a>
        <a href="/components/sumario/index.html">Sumário &gt;</a>
      </div>
      <br />Todos os direitos reservados &copy; Isaque Véras
    </footer>
  </div>
</body>
</html>