<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Isaque Véras de Oliveira">
  <title>My book in html - Sumário</title>
  <link rel="stylesheet" href="../../index.css">
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Sumário</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laboriosam quo perferendis sint atque, 
        sed quibusdam quidem nemo quae facere, eveniet aliquid repellat iusto et eum ipsa, deleniti magni provident 
        explicabo neque laborum a accusantium! Beatae adipisci totam sit fuga dolor qui ducimus rerum nam aperiam quasi, 
        ea sunt animi accusantium. Rem ab temporibus dolor blanditiis consequuntur</p>
    </header>

    <article>
      <h1>Sumário</h1>
      
    </article>
   
    <footer>
      <p>Todos os direitos reservados &copy; Isaque Véras</p>
    </footer>
  </div>
</body>
</html>